.din-dynamic-island-container {
    padding: 0px 25px;
    width: min(98%, 800px);
    position: fixed;
    top: 15px;
    left: 50%;
    background-color: #333333;
    border-radius: 50px;
    transform: translate(-50%, 0%);
    z-index: 10;
}

.din-links-container {
    width: 60%;
    max-width: 60%;
}

.din-link-item {
    text-transform: uppercase;
    color: #f7f7f8;
    font-weight: 600;
    margin: 0px 10px;
}

.din-navbar-icon {
    font-size: 2rem;
}
